
  #nav{
        background-color: /* #cecece*/ /*#9c9c9c*/ /*#22bdb6*/ rgba(65, 64, 66, 1);
        background: repeating-linear-gradient( -45deg,
        rgba(65, 64, 66, 0),
        rgba(65, 64, 66, 0),
        rgba(65, 64, 66, 0),
        /* rgba(65, 64, 66, 0),
        rgb(255, 255, 255),
        rgb(255, 255, 255), */
        rgb(255, 255, 255),
        rgb(255, 255, 255));
    } 
    
    
    .navbar-brand>img {
        display: block;
        display: block;
        position: absolute;
        background: transparent;
        padding: 0;
        margin: -40px 0;
        max-height: 100px;
      }

      .navbar .navbar-nav > .active > a,
      .navbar .navbar-nav > li > a:hover,
       .navbar .navbar-nav > li > a:focus {
        color: black;
        background-color: rgba(255, 255, 255, 0.94);
    }
    
    .navbar .navbar-nav a {
        background-color: rgba(255, 255, 255, 0.12);
        margin: 0 2px;
    }



.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
    color: #FFFFFF;
}

.btn.btn-gold {
    background-color: #b19850;
    color: #FFFFFF;
}

.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu li > a:focus, .navbar.navbar-default .dropdown-menu li > a:hover, .navbar.navbar-default .dropdown-menu li > a:focus {
    color: #FFFFFF;
    background-color: #b19850;
}

.card .header-primary {
    background: linear-gradient(60deg, #b19850, rgb(152, 126, 51));
}

a, a:hover, a:focus {
    color: #b19850;
}

a:hover {
    color: blue;
    text-decoration: underline;
}